* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  position: relative;
  top: 0px;
  width: 160px;
  height: 600px;
  overflow: hidden;
  border: 1px solid black;
  left: 0px;
  font-family: "Roboto", sans-serif;
}

/* Images */

#logo {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(0);
}
#textbg {
  position: absolute;
  top: 50px;
  right: 0px;
  transform: rotateY(90deg);
  transform-origin: right;
}
#photo {
  position: absolute;
  bottom: -15px;
  left: 0;
  transform: rotateY(90deg);
  transform-origin: left;
}
#circle {
  position: absolute;
  bottom: 180px;
  right: 30px;
  transform: rotate(-720deg);
  opacity: 0;
}
#botton {
  position: absolute;
  bottom: 40px;
  left: 25px;
  transform: scale(0);

}

/* text */

#text-1 {
  position: absolute;
  top: 100px;
  right: 25px;
  font-weight: 500;
  color: white;
  font-size: 25px;
  transform: rotateX(90deg);
}
#text-2 {
  position: absolute;
  top: 135px;
  font-weight: 500;
  white-space: nowrap;
  left: 13px;
  color: #ff9800;
  font-size: 16px;
  transform: translate(-30px);
  opacity: 0;
}
#text-3 {
  position: absolute;
  top: 160px;
  font-weight: 500;
  left: 30px;
  color: #ffff;
  font-size: 20px;
  transform: translateX(30px);
  opacity: 0;
}
#text-4 {
  position: absolute;
  top: 220px;
  font-weight: 300;
  color: #fff;
  text-align: right;
  left: 15px;
  transform: translateY(-30px);
  opacity: 0;
}
#text-5 {
  position: absolute;
  bottom: 15px;
  color: #ffff;
  left: 25px;
  font-weight: 300;
  transform: translateY(-30px);
  opacity: 0;
}
