*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sprite{
   
    width: 58px;
    height: 71px;
    margin: auto;

    overflow: hidden;
    /* background-color: white;
    animation-name: play;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
    background-image: url("../image/tiger.png.jpeg");
    background-repeat: no-repeat; */
    
}
#img{
    width: 347px;
    height: auto;
    animation-name: play;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(6);
    transform: translateX(0 0);
}
@keyframes play{
    100%{
       transform: translateX(-368px );
    }
}