*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
position: relative;
width: 250px;
height: 260px;
overflow: hidden;
border: 1px solid black;
margin: auto;
}
#sprite{
position: relative;
width: 1000px;
height: 260px;
text-align: center;
animation: eye 0.8s infinite steps(8);
transform: translateX(0);
}
@keyframes eye{
    100%{
        transform: translateX(-2000px);
    }
}
#img-01{
    position: absolute;
    top: 0;
    left: 0;

}
#img-02{
    position: absolute;
    top: -260px;
    left: 1000px;
    
}